{% extends BASE_TEMPLATE_NAME %}

{% block details %}
  {{ super() }}

<nav class="navbar navbar-light bg-light">
  <form method="POST" action="" class="form-inline">
    <table>
      <tbody>
        <tr>
          <td>
            Course id
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              name="course_id"
              {% if model_instance %} value="{{ model_instance.course_id }}" {% endif %}
            />
          </td>
        </tr>

        <tr>
          <td>
            Prerequirement Id
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              name="prereq_id"
              {% if model_instance %} value="{{ model_instance.prereq_id }}" {% endif %}
            />
          </td>
        </tr>

                <tr></tr>
        <tr>
          <td></td>
          <td>
            <button
              class="btn btn-outline-success btn-md"
              type="submit"
            >
              Save
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</nav>

{% endblock details %}
