<tr>
  <td>
    <a href="{{ model_instance.dept_name }}">
      {{ model_instance.dept_name }}
    </a>
  </td>
  <td>
    {{ model_instance.building }}
  </td>
  <td>
    {{ model_instance.budget }}
  </td>
  <td class="btn-group">
    <button type="button" onclick="window.location = '/departments/{{ model_instance.dept_name }}'" class="btn btn-primary">
      Details
    </button>
    <button type="button" onclick="window.location = '/departments/{{ model_instance.dept_name }}/update'" class="btn btn-warning">
      Update
    </button>
    <button type="button" onclick="window.location = '/departments/{{ model_instance.dept_name }}/delete'" class="btn btn-danger">
      Delete
    </button>
  </td>
</tr>
